* {box-sizing: border-box;}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFCF7;
    color: #050505;
}

header{
    background-color: #04E762;
}

.slider{
    width: 100%;
    border: dashed blue 1px;
    display: flex;
    justify-content: center;
}

.slider img{
    max-height: 100%;
    max-width: 100%;

}

.invisible{
    opacity: 0;
}

/*NavBar*/
nav ul{
    display: inline-block;
    list-style: none;
    overflow: hidden;
}

nav li{
    float: left;
}

nav ul a{
    color: #050505;
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
}

.active a{
    color: #738290;
}





/*Container Bilder*/
.bilder-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/*Bilder werden normal nicht angezeigt*/
.meinBild {
    display: none;
}

/*nächster/zurück Knopf*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/*nächstes Knopf rechts*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*Transparenz schwarz beim drüber gehen*/
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/*Untertitel*/
.text {
    color: #FFFCF7;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/*Auflistungstext*/
.position {
    color: #FFFCF7;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*Kreise/Punkte*/
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/*Animationen*/
.fade  {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}