


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FEF9EF;
    color: #050505;
    padding: 0;
    margin: 0;
}

header{
    background-color: #227C9D;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 10%;
    transition: 0.2s;
}



section{
    margin: 0;
}

.slider{
    width: 100%;
    border: dashed blue 1px;
    display: flex;
    justify-content: center;
}

.slider img{
    max-height: 100%;
    max-width: 100%;

}

.invisible{
    opacity: 0;
}

.hidden{
    display: none;
}

.shownBlock{
    display: block;
}

/*Laden*/
#laden{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    border: 16px solid #FEF9EF;
    border-top: 16px solid #A1B5D8;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { transform:rotate(0deg);}
    100%{ transform: rotate(360deg);}
}
@keyframes spin {
    0% { transform:rotate(0deg);}
    100%{ transform: rotate(360deg);}
}

.animation{
    position: relative;
    -webkit-animation-name: animation;
    -webkit-animation-duration: 1s;
    animation-name: animation;
    animation-duration: 1s;

}

@-webkit-keyframes animation{
    from{ bottom:-100px; opacity: 0}
    to{ bottom: 0px; opacity: 1}
}

@keyframes animation{
    from{ bottom:-100px; opacity: 0}
    to{ bottom: 0px; opacity: 1}
}

.mainArtikel{
	margin-left: 10%;
	margin-right: 10%;
}

/*News*/
.news{
	list-style: none;
}

.news li{
	display: inline-block;
	border: 1px solid black;
    width: 260px;
    height: 540px;
    transition: all  .2s ease-in-out;
    text-align: center;
    background-size:  260px 540px;

}

.news li:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.news li a{
      display: inline-block;
      font-weight: bold;
      font-size: 200%;
      color: #FEF9EF;
      text-shadow: 1px 1px #227C9D;
      margin-top: 450px;

     
}

#news1{
    background-image: url("img/news/luchse.jpg");
    
}

#news2{
    background-image: url("img/news/hbl.jpg");
}

#news3{
    background-image: url("img/news/minden.jpg");
}

#news4{
    background-image: url("img/news/thw.jpg");
}

#news5{
    background-image: url("img/news/qualifikation.jpg");
}

/*NavBar*/
nav{
    position: sticky;
    top: 50px;
    background-color: #FEF9EF;
    margin-top: 0;
    padding-top: 0.1%;
    padding-bottom:0.01%;
    font-size: 300%;
    transition: 0.2s;
	text-align: center;
}
nav ul{
    list-style: none;
    overflow: hidden;
	text-align: inherit;
    position: sticky;
	margin-top: 1%;
   
}

nav li{
    display: inline-block;
	padding-left: 1.5%;
	padding-right: 1.5%;
    margin-left: 0%;
    margin-right: 0%;
	transition: 0.2s;
	
}

nav ul a{
    color: #333333;
    text-decoration: none;
    font-weight: bold;
	padding: 0.5em;
    
    
}

nav ul a:hover{
    color: #A1B5D8;
}

.small{
	font-size: 20px;
	padding-right: 0;
	padding-left: 0;
	text-align: left;
}

.current a{
    color: #227C9D;
}


/*Container Bilder*/
.bilder-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/*Bilder werden normal nicht angezeigt*/
.meinBild {
    display: none;
}

/*nächster/zurück Knopf*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/*nächstes Knopf rechts*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*Transparenz schwarz beim drüber gehen*/
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/*Untertitel*/
.text {
    color: #FEF9EF;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    display: none;
}

/*Auflistungstext*/
.position {
    color: #FEF9EF;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.mainBild {
    color: #7A82AB;
    font-size: 100px;
    padding: 8px 12px;
    position: absolute;
    top: -80px;
    left: 30px;
    text-shadow: 1px 1px  black;
}

.mainBild a{
    color:#FEF9EF;
    position: relative;
    top: -140px;
    left: 10px;
    font-size: 40px;
    text-shadow: 1px 1px black;
    padding: 0;
    margin: 0;
}


/*Kreise/Punkte*/
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    z-index: 1;
    margin: 0 2px;
    background-color: #17C3B2;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots{
    position: relative;
    top: -30px;
}

.active, .dot:hover {
    background-color: #7A82AB;
}

/*Animationen*/
.fade  {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}


/*footer*/
footer{
	background-color: #227C9D;
	margin-top: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	
}

footer .copy{
	display: block;
	text-align: right;
	padding-right: 2%;
}
